@import "tailwindcss";

@theme {
  /* This automatically creates the 'font-hind' utility class */
  --font-Ovo: "Ovo", serif;
}

/* Spin for side menu cross icon */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
